configuration {
  modi: "window,run,ssh";
  font: "Hack 20";
  kb-row-up: "Up,Control+p,Shift+Tab,Shift+Alt+Tab";
  kb-row-down: "Down,Control+n";
  kb-row-tab: "Alt+Tab";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "slate"
