@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

:root {
  --animationSpeed: 0.15s;
}

.browserStack {
  background: linear-gradient(
    90deg,
    rgba(255, 99, 120, 1) 0%,
    rgba(79, 82, 252, 1) 100%
  );
}

.browserContainer {
  background-color: var(
    --lwt-accent-color-inactive,
    var(--lwt-accent-color)
  ) !important;
  background-image:
    var(--lwt-header-image), var(--lwt-additional-images) !important;
  background-repeat: no-repeat, var(--lwt-background-tiling) !important;
  background-position:
    right top,
    var(--lwt-background-alignment) !important;
}

/*============================================================================*/
/*
 * Button Styles
 * - autohide back & forward button
 * - Custom icons
 */

#forward-button {
  transform: scale(1, 1) !important;
  transition:
    margin-left 150ms var(--animation-easing-function),
    opacity 250ms var(--animation-easing-function),
    transform 350ms var(--animation-easing-function) !important;
}

#forward-button[disabled='true'] {
  margin-top: 1.2px !important;
  margin-left: -22px !important;
  opacity: 0 !important;
  transform: scale(0.8, 0.8) !important;
  pointer-events: none !important;
}

#back-button {
  margin-top: 1.2px !important;
  transform: scale(1, 1) !important;
  transition:
    margin-left 150ms var(--animation-easing-function),
    opacity 250ms var(--animation-easing-function),
    transform 350ms var(--animation-easing-function) !important;
}

#back-button[disabled='true'] {
  margin-top: 1.2px !important;
  margin-left: -26px !important;
  opacity: 0 !important;
  transform: scale(0.8, 0.8) !important;
  pointer-events: none !important;
}
