# pets: symlink=~/.config/systemd/user/screenlock.service

[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=butlerx
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/butlerx/.config/i3/i3lock.sh

[Install]
WantedBy=sleep.target
